version: '3.7'

services:
  nexus:
    image: sonatype/nexus3
    restart: always
    container_name: nexus-service
    ports:
      - "8100:8081" # accès a l'interface graphique + l'accès a maven private (id: maven-private-nas)
      - "8101:8101"
      - "8102:8102"
      - "8103:8103"
      - "8104:8104"
    volumes:
      - ./nexus-data:/nexus-data